<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noseworktunering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <h4>Noseworktunering</h4>
            <a href="/">Startsida</a>
            <a th:href="@{'/tournament/' + ${tournament.id}}"><span th:text="${tournament.name}" /></a>
        </div>
    </div>
</div>
</body>
</html>