<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noseworktunering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<h4>Deltävlingar</h4>
<table>
    <thead><th>Namn</th><th>Datum</th><th></th></thead>
    <tbody>
        <tr th:each="contest : ${contests}">
            <td><span th:text="${contest.name}" /></td>
            <td><span th:text="${contest.date}" /></td>
            <td><a th:href="@{'/contests/edit/' + ${contest.id}}">Ändra</a></td>
            <td><a th:href="@{'/contests/delete/' + ${contest.id}}">Ta bort</a></td>
        </tr>
    </tbody>
</table>

<h6>Lägg till deltävling</h6>
<form action="#" th:action="@{/contests/saveOrUpdate}" th:object="${contest}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Namn: <input type="text" th:field="*{name}" /></p>
    <p>Datum: <input type="text" th:field="*{date}" /></p>
    <p><input type="submit" value="Lägg till" /> <input type="reset" value="Rensa" /></p>
</form>

</body>
</html>