<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noseworktunering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<h4>Sök</h4>
<table>
    <thead><th>Namn</th><th>Typ</th><th>Maxtid</th><th>Gömmor</th><th></th></thead>
    <tbody>
        <tr th:each="event : ${events}">
            <td><span th:text="${event.name}" /></td>
            <td><span th:text="${event.type}" /></td>
            <td><span th:text="${event.maxTime}" /></td>
            <td>
                <table>
                    <thead><th>Nummer</th><th>Poäng</th></thead>
                    <tbody>
                        <tr th:each="stash : ${event.stashPoints}">
                            <td><span th:text="${stash.index}" /></td>
                            <td><span th:text="${stash.points}" /></td>
                            <td><a th:href="@{'/events/stashes/edit/' + ${stash.id}(contest=${contest})}">Ändra</a></td>
                            <td><a th:href="@{'/events/stashes/delete/' + ${stash.id}(contest=${contest})}">Ta bort</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td><a th:href="@{'/events/edit/' + ${event.id}(contest=${contest})}">Ändra/Lägg till</a></td>
            <td><a th:href="@{'/events/delete/' + ${event.id}(contest=${contest})}">Ta bort</a></td>
        </tr>
    </tbody>
</table>

<h6>Lägg till sök</h6>
<form action="#" th:action="@{/events/saveOrUpdate(contest=${contest})}" th:object="${event}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Namn: <input type="text" th:field="*{name}" /></p>
    <p>Typ: <input type="text" th:field="*{type}" /></p>
    <p>Maxtid: <input type="text" th:field="*{maxTime}" /></p>
    <p th:if="${stash.id == null}"><input type="submit" value="Lägg till" /></p>
</form>

<div th:if="${event.id != null}">
<h6>Lägg till gömma</h6>
<p th:text="${event.name}"></p>
<form action="#" th:action="@{/events/stashes/saveOrUpdate(contest=${contest},event=${event.id})}" th:object="${stash}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Index: <input type="text" th:field="*{index}" /></p>
    <p>Poäng: <input type="text" th:field="*{points}" /></p>
    <p><input type="submit" value="Lägg till" /></p>
</form>
</div>

</body>
</html>