<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nosework Tournament</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h4>Noseworktunering</h4>
<ul>
    <li><a href="/participants">Participants</a></li>
</ul>

<div>
    <form action="#" th:action="@{/import}" th:object="${file}" method="post" enctype="multipart/form-data">
        <div><input type="file" name="file" /></div>
        <div><input type="submit" value="Importera" /></div>
    </form>
</div>

<div>
    <a href="/export">Exportera tuneringsfil</a>
</div>

</body>
</html>