<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noseworktunering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<h4>Ekipage</h4>
<table>
    <thead><th>Förare</th><th>Hund</th><th></th></thead>
    <tbody>
        <tr th:each="participant : ${participants}">
            <td><span th:text="${participant.owner}" /></td>
            <td><span th:text="${participant.dog}" /></td>
            <td><a th:href="@{'/participants/edit/' + ${participant.id}(tournament=${tournament.id})}">Ändra</a></td>
            <td><a th:href="@{'/participants/delete/' + ${participant.id}(tournament=${tournament.id})}">Ta bort</a></td>
        </tr>
    </tbody>
</table>

<h6>Lägg till ekipage</h6>
<form action="#" th:action="@{/participants/saveOrUpdate(tournament=${tournament.id})}" th:object="${participant}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Förare: <input type="text" th:field="*{owner}" /></p>
    <p>Hund: <input type="text" th:field="*{dog}" /></p>
    <p><input type="submit" value="Lägg till" /></p>
</form>

</body>
</html>