<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noseworktunering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<h4>Noseworktunering</h4>
<h3 th:text="${tournament.name}" />

<ul>
    <li><a th:href="@{/participants(tournament=${tournament.id})}">Deltagare</a></li>
    <li><a th:href="@{/contests(tournament=${tournament.id})}">Deltävlingar</a></li>
</ul>

<div>
    <a th:href="@{'/tournament/export/' + ${tournament.name}}">Exportera tuneringsfil</a>
</div>

</body>
</html>