.event-header-name {
    font-weight: bold;
}

.event-header-maxTime {
    float: right;
}

.form-col {
    text-align: right;
}

.form-label {
    line-height: 2.5rem;
}

.time-row {
    margin-top: 1rem;
}

.time-input {
    width: 45%;
    display: inline;
}

.stash-label {
    margin-bottom: 0;
}

.points-label {
    font-size: 0.8rem;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}